@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles ends here */

/* banner section starts here */

.header {
    max-width: 100%;
    min-height: 919px;
    background: linear-gradient(0deg, #090909 2.88%, rgba(16, 16, 16, 0.00) 101.03%), url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    opacity: 0.8;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.header h2 {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    width: 1000px;
}

.header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    width: 1023px;
}

.header button {
    margin-top: 32px;
    display: flex;
    padding: 21px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #52C303;
    border: none;
    color: #FFF;
}

/* banner section ends here */

/* card section starts here */


.card-box {
    padding: 167px 300px 184px 300px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}


.card-box h3 {
    color: #101010;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}

.card-box h4 {
    color: #101010;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    width: 691px;
    margin-top: 16px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cards {
    width: 424px;
}

.cards h5 {
    padding: 14px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    margin-top: 32px;
    margin-bottom: 24px;
}

.offer {
    color: #101010;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.description {
    color: #101010;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}

.card-box-button button {
    border-radius: 8px;
    background: #52C303;
    border: none;
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    padding: 21px 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-top: 64px;
}

.cta-container {
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.cta-container > img {
    height: 671px;
    width: 50%;
    object-fit: cover;
}

.cta-content {
    width: 50%;
    height: 100%;
}

.cta-content h2 {
    margin: auto;
    margin-bottom: 24px;
    width: 805px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

.cta-content h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 48px;
    opacity: 0.6;
}

.cta-content h4 {
    border-top: 1px solid rgba(16, 16, 16, 0.20);
    border-bottom: 1px solid rgba(16, 16, 16, 0.20);
    padding: 30px 10px;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;   
}

.social-icons img {
    width: 45px;
}